body {
    margin:0;
    font-family: "Gill Sans", sans-serif;
    padding-top: 100px;
}

.navigation {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #a83242;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
}

.navLink {
    float: left;
  }
  
  .navLink a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .navLink a:hover:not(.active) {
  background-color: #363534;
  }
  
  .active {
    background-color: #a83242;
  }